@import "../../global";

.contentDisplay {
  margin: auto;
  width: 100%;
  max-width: $contentMaxWidth;

  &DateTime {
    color: var(--secondary-text-color);
  }

  img {
    width: 100%;
  }
}

.tags {
  align-items: center;
  display: flex;
  gap: $md;
}
