@import "../../global";

@mixin contentDisplay {
  .contentDisplay {
    margin: auto;
    width: 100%;
    max-width: $contentMaxWidth;

    &DateTime,
    &AdditionalInfo {
      color: var(--secondary-text-color);
    }

    h1 {
      &.capitalize {
        text-transform: capitalize;
      }
    }

    img,
    svg {
      height: auto;
      margin: auto;
      max-width: 100%;
    }

    p {
      margin: 0;
    }

    code,
    pre {
      background: var(--code-background-color);
      color: var(--code-text-color);
      padding: $xs $sm;
      border-radius: $sm;
    }
  }

  .tags {
    align-items: center;
    display: flex;
    gap: $md;
  }
}

@include contentDisplay;
