@import "../../global";

@mixin contentDisplay {
  .contentDisplay {
    margin: auto;
    width: 100%;
    max-width: $contentMaxWidth;

    &DateTime,
    &AdditionalInfo {
      color: var(--secondary-text-color);
    }

    h1 {
      &.capitalize {
        text-transform: capitalize;
      }
    }

    img {
      width: 100%;
    }

    p {
      margin: 0;
    }
  }

  .tags {
    align-items: center;
    display: flex;
    gap: $md;
  }
}

@include contentDisplay;
