// include global scss
@import "../../global";

.button {
  align-items: center;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  gap: $increment;
  justify-content: center;
  line-height: normal;
  text-decoration: none;
  user-select: none;

  svg {
    fill: currentColor;
    g {
      fill: currentColor;
    }
  }

  &.small {
    font-size: 0.8em;
    padding: $md;

    svg {
      height: 0.8em;
      width: 0.8em;
    }
  }
  &.medium {
    font-size: 0.875em;
    padding: $lg;

    svg {
      height: 16px;
      width: 16px;
    }
  }
  &.large {
    font-size: 1.2em;
    padding: $xl;

    svg {
      height: 1.2em;
      width: 1.2em;
    }
  }

  &.fullWidth {
    box-sizing: border-box;
    display: flex;
    width: 100%;
  }
  &.inline {
    display: inline-flex;
  }

  &:hover {
    background-color: var(--button-hover-bg-color);
    border-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);

    // animate hover
    transition: all $transition;
  }
}
