// include global scss
@import "../../global";

.button {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  user-select: none;

  &.small {
    font-size: 0.8em;
    min-height: calc($increment * 6);
    padding: $md;
  }
  &.medium {
    font-size: 0.875em;
    min-height: calc($increment * 8);
    padding: $lg;
  }
  &.large {
    font-size: 1.2em;
    min-height: calc($increment * 10);
    padding: $xl;
  }

  &.fullWidth {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  &.inline {
    display: inline-block;
  }

  &:hover {
    background-color: var(--button-hover-bg-color);
    border-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);

    // animate hover
    transition: all $transition;
  }
}
