@import "../../global";

.columns {
  display: grid;
  grid-template-rows: auto;
  gap: $xl;

  @for $i from 1 through 6 {
    &[data-number-of-columns="#{$i}"] {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
