@import "../../../global";
@import "../../../components/contentDisplay/styles.module";

@include contentDisplay;

.teamWrapper {
  display: grid;
  gap: $md;

  &Header {
    align-items: center;
    display: grid;
    gap: $md;
    grid-template-columns: $xl auto;
    justify-content: left;
  }
}
