$primaryFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif;

.layout[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #252525;
  --border-color: #eee;
  --button-hover-bg-color: #000;
  --button-hover-text-color: #eee;
}

.layout[data-theme="dark"] {
  --bg-color: #252525;
  --text-color: #fff;
  --border-color: #444;
  --button-hover-bg-color: #444;
  --button-hover-text-color: #fff;
}

.layout {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--border-color);
  font-family: $primaryFont;
  font-size: 16px;
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  padding: 16px;
}
