// include global scss
@import "../../global";

.card {
  border-radius: 4px;
  display: grid;
  gap: $lg;
  justify-content: space-between;
  margin-bottom: $xl;

  &:last-child {
    margin-bottom: 0;
  }

  &Image {
    img {
      height: auto;
      width: 100%;
    }
  }
}
