// include global scss
@import "../../global";

.card {
  border-bottom: 1px solid var(--border-color);
  border-radius: 4px;
  display: grid;
  gap: $lg;
  justify-content: space-between;

  &Image {
    img {
      height: auto;
      width: 100%;
    }
  }
}
