.header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;

  button {
    border: 0 none transparent;
    border-left: 1px solid var(--border-color);
  }
}
