body {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.25rem;
    line-height: 2rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

img, svg {
    display: block;
}

a {
    color: var(--link-color);
    text-decoration: none;
}